In [1]:
# CLASSIFIERS

In [2]:
# IMPORTING LIBRARIES

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [7]:
# Load Dataset

In [38]:
df = sns.load_dataset('penguins').ffill()

In [39]:
df.shape

(344, 7)

In [40]:
df.head(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female

In [41]:
# Dataset encoding

In [42]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].map(lambda val: list(df[col].unique()).index(val))

In [43]:
df.head(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,0,39.1,18.7,181.0,3750.0,0
1,0,0,39.5,17.4,186.0,3800.0,1

In [52]:
df.species.unique()

array([0, 1, 2])

In [44]:
# Data split

In [45]:
X = df.drop(columns=['species'])
y = df.species

In [46]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42 , test_size=0.20)

In [47]:
# IMPORTING MODELS

In [48]:
from sklearn.linear_model import LogisticRegression   # Simple and Interpretable
from sklearn.ensemble import RandomForestClassifier  # Ensemble , High Accuracy
from sklearn.svm import SVC                          # Rule Based Model
from sklearn.neighbors import KNeighborsClassifier   # distance based lazy learner
from sklearn.tree import DecisionTreeClassifier      # Rule Based Model
from sklearn.naive_bayes import GaussianNB           # Probability Based Fast-Model

In [49]:
models = {
    'LogisticRegression' : LogisticRegression() , 
    'RandomForestClassifier' : RandomForestClassifier() , 
    'SupportVectorClassifier' : SVC() , 
    'KNN' : KNeighborsClassifier() , 
    'DecisionTreeClassifier' : DecisionTreeClassifier() , 
    'NaiveBayes' : GaussianNB()
}

In [50]:
# Train and Test Models

In [51]:
for name,model in models.items():
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    print(name, accuracy_score(y_test,y_pred))

LogisticRegression 0.9855072463768116
RandomForestClassifier 1.0
SupportVectorClassifier 0.6811594202898551
KNN 0.6956521739130435
DecisionTreeClassifier 0.9855072463768116
NaiveBayes 0.9855072463768116

C:\Users\Croma Campus\AppData\Roaming\Python\Python313\site-packages\sklearn\linear_model\_logistic.py:406: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(