In [78]:
import pandas as pd

In [79]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\croma campus\appdata\roaming\python\python313\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\croma campus\appdata\roaming\python\python313\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [80]:
df = pd.read_excel(r"C:\Users\Croma Campus\Downloads\Financial_Sample.xlsx")

In [81]:
df.head(2)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014

In [82]:
print(df.columns)
print("Total Columns :",len(df.columns))

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')
Total Columns : 16

In [83]:
# Find Missing Values in Your Dataset
df.isnull().sum()

Segment                 8
Country                11
Product                 8
Discount Band          62
Units Sold              5
Manufacturing Price     0
Sale Price              7
Gross Sales             5
Discounts               5
 Sales                  0
COGS                    0
Profit                  0
Date                    0
Month Number            0
Month Name              0
Year                    0
dtype: int64

In [84]:
# information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              692 non-null    object
 1   Country              689 non-null    object
 2   Product              692 non-null    object
 3   Discount Band        638 non-null    object
 4   Units Sold           695 non-null    float64
 5   Manufacturing Price  700 non-null    int64
 6   Sale Price           693 non-null    float64
 7   Gross Sales          695 non-null    float64
 8   Discounts            695 non-null    float64
 9    Sales               700 non-null    float64
 10  COGS                 700 non-null    float64
 11  Profit               700 non-null    float64
 12  Date                 700 non-null    datetime64[ns]
 13  Month Number         700 non-null    int64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 87.6+ KB

#### Categorical Data (String / object)
    - Nominal Data
        - City , State , Country , Segment , Gender etc
    - Ordinal Data
        - Band data (low , midium , high etc)
        - size data (small, medium , large , Extra large etc)
    if you need to clean categorical Data (replace data by mode or unknown/new) 
#### Numercial Data
    - int   (32,45,-56,78,-56,0,56)
    - float (34.67 , -45.5 , 0.0 , 0.345 , -0.456)
    if you neet to clean numerical data (replace null by average)

In [85]:
# finding missing values column and their data types
# EDA (Exploratory Data Analysis)
print("ColumnName\t null\t DType")
for col in df.columns:
    if df[col].isnull().sum() > 0:
        print(col ,"\t", df[col].isnull().sum(),"\t", df[col].dtype)

ColumnName	 null	 DType
Segment 	 8 	 object
Country 	 11 	 object
Product 	 8 	 object
Discount Band 	 62 	 object
Units Sold 	 5 	 float64
Sale Price 	 7 	 float64
Gross Sales 	 5 	 float64
Discounts 	 5 	 float64

In [86]:
# Way to fill missing Values
df.Segment.isnull().sum()

np.int64(8)

In [87]:
df.Segment.unique()

array(['Government', 'Midmarket', 'Channel Partners', 'Enterprise',
       'Small Business', nan], dtype=object)

In [88]:
df.Segment.mode()

0    Government
Name: Segment, dtype: object

In [89]:
df.Segment = df.Segment.fillna(value='Unknown_Segment')

In [90]:
df.Segment.isnull().sum()

np.int64(0)

In [91]:
# finding all object dtype column names
df.select_dtypes(include='object').columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Month Name'], dtype='object')

In [92]:
# filling missing values (replace null values by the mode)
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].fillna(value=df[col].mode()[0])

In [93]:
df.select_dtypes(include='object').isnull().sum()

Segment          0
Country          0
Product          0
Discount Band    0
Month Name       0
dtype: int64

In [94]:
# finding missing values from numerical data and column name
df.select_dtypes(include='float64').columns

Index(['Units Sold', 'Sale Price', 'Gross Sales', 'Discounts', ' Sales',
       'COGS', 'Profit'],
      dtype='object')

In [95]:
df['Profit'].mean()

np.float64(24133.860371428567)

In [96]:
# filling missing values (replace null with mean/average)
for col in df.select_dtypes(include='float64').columns:
    df[col] = df[col].fillna(value=round(df[col].mean(),2))

In [97]:
df.select_dtypes(include='float64').isnull().sum()

Units Sold     0
Sale Price     0
Gross Sales    0
Discounts      0
 Sales         0
COGS           0
Profit         0
dtype: int64

In [98]:
# Now Missing Values in Dataset
df.isnull().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             0
Manufacturing Price    0
Sale Price             0
Gross Sales            0
Discounts              0
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64