In [1]:
import pandas as pd

In [7]:
df = pd.read_excel(r"C:\Users\Croma Campus\Downloads\Financial_Sample.xlsx").bfill()

In [8]:
df.shape

(700, 16)

In [9]:
df.isnull().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             0
Manufacturing Price    0
Sale Price             0
Gross Sales            0
Discounts              0
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64

In [10]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,Low,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,Low,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,Low,2178.0,3,15.0,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,Low,888.0,3,15.0,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,Low,2470.0,3,15.0,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

In [11]:
df.Segment.unique()

array(['Government', 'Midmarket', 'Channel Partners', 'Enterprise',
       'Small Business'], dtype=object)

In [12]:
seg = ['Government', 'Midmarket', 'Channel Partners', 'Enterprise','Small Business']

In [13]:
seg

['Government', 'Midmarket', 'Channel Partners', 'Enterprise', 'Small Business']

In [14]:
# OHE One hot encoding

In [15]:
for col in seg:
    df[col] = df['Segment'].map(lambda x:1 if x==col else 0)

In [16]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,...,Profit,Date,Month Number,Month Name,Year,Government,Midmarket,Channel Partners,Enterprise,Small Business
0,Government,Canada,Carretera,Low,1618.5,3,20.0,32370.0,0.0,32370.0,...,16185.0,2014-01-01,1,January,2014,1,0,0,0,0
1,Government,Germany,Carretera,Low,1321.0,3,20.0,26420.0,0.0,26420.0,...,13210.0,2014-01-01,1,January,2014,1,0,0,0,0
2,Midmarket,France,Carretera,Low,2178.0,3,15.0,32670.0,0.0,32670.0,...,10890.0,2014-06-01,6,June,2014,0,1,0,0,0
3,Midmarket,Germany,Carretera,Low,888.0,3,15.0,13320.0,0.0,13320.0,...,4440.0,2014-06-01,6,June,2014,0,1,0,0,0
4,Midmarket,Mexico,Carretera,Low,2470.0,3,15.0,37050.0,0.0,37050.0,...,12350.0,2014-06-01,6,June,2014,0,1,0,0,0

In [17]:
df = df.drop(columns=['Segment'])

In [18]:
df.shape

(700, 20)

In [19]:
df.head()

,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,Government,Midmarket,Channel Partners,Enterprise,Small Business
0,Canada,Carretera,Low,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014,1,0,0,0,0
1,Germany,Carretera,Low,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014,1,0,0,0,0
2,France,Carretera,Low,2178.0,3,15.0,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014,0,1,0,0,0
3,Germany,Carretera,Low,888.0,3,15.0,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014,0,1,0,0,0
4,Mexico,Carretera,Low,2470.0,3,15.0,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014,0,1,0,0,0

In [20]:
df['Discount Band'].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [21]:
band = ['Low', 'Medium', 'High']

In [22]:
df['Dis_Band'] = df['Discount Band'].map(lambda x: band.index(x))

In [23]:
df.head()

,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,...,Date,Month Number,Month Name,Year,Government,Midmarket,Channel Partners,Enterprise,Small Business,Dis_Band
0,Canada,Carretera,Low,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,...,2014-01-01,1,January,2014,1,0,0,0,0,0
1,Germany,Carretera,Low,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,...,2014-01-01,1,January,2014,1,0,0,0,0,0
2,France,Carretera,Low,2178.0,3,15.0,32670.0,0.0,32670.0,21780.0,...,2014-06-01,6,June,2014,0,1,0,0,0,0
3,Germany,Carretera,Low,888.0,3,15.0,13320.0,0.0,13320.0,8880.0,...,2014-06-01,6,June,2014,0,1,0,0,0,0
4,Mexico,Carretera,Low,2470.0,3,15.0,37050.0,0.0,37050.0,24700.0,...,2014-06-01,6,June,2014,0,1,0,0,0,0

In [24]:
df['Dis_Band'].unique()

array([0, 1, 2])

In [25]:
df.head()

,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,...,Date,Month Number,Month Name,Year,Government,Midmarket,Channel Partners,Enterprise,Small Business,Dis_Band
0,Canada,Carretera,Low,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,...,2014-01-01,1,January,2014,1,0,0,0,0,0
1,Germany,Carretera,Low,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,...,2014-01-01,1,January,2014,1,0,0,0,0,0
2,France,Carretera,Low,2178.0,3,15.0,32670.0,0.0,32670.0,21780.0,...,2014-06-01,6,June,2014,0,1,0,0,0,0
3,Germany,Carretera,Low,888.0,3,15.0,13320.0,0.0,13320.0,8880.0,...,2014-06-01,6,June,2014,0,1,0,0,0,0
4,Mexico,Carretera,Low,2470.0,3,15.0,37050.0,0.0,37050.0,24700.0,...,2014-06-01,6,June,2014,0,1,0,0,0,0

In [26]:
df['UnitsSolds'] = (df['Units Sold']-min(df['Units Sold']))/(max(df['Units Sold'])-min(df['Units Sold']))

In [27]:
df.head()

,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,...,Month Number,Month Name,Year,Government,Midmarket,Channel Partners,Enterprise,Small Business,Dis_Band,UnitsSolds
0,Canada,Carretera,Low,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,...,1,January,2014,1,0,0,0,0,0,0.330460
1,Germany,Carretera,Low,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,...,1,January,2014,1,0,0,0,0,0,0.261153
2,France,Carretera,Low,2178.0,3,15.0,32670.0,0.0,32670.0,21780.0,...,6,June,2014,0,1,0,0,0,0,0.460804
3,Germany,Carretera,Low,888.0,3,15.0,13320.0,0.0,13320.0,8880.0,...,6,June,2014,0,1,0,0,0,0,0.160280
4,Mexico,Carretera,Low,2470.0,3,15.0,37050.0,0.0,37050.0,24700.0,...,6,June,2014,0,1,0,0,0,0,0.528829

In [29]:
df['UnitsSolds'].min()

np.float64(0.0)

In [30]:
df['UnitsSolds'].max()

np.float64(1.0)