In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Croma Campus\Downloads\craigslistVehicles.csv")

In [3]:
df.shape

(525839, 22)

In [5]:
df.head(1)

,url,city,city_url,price,year,manufacturer,make,condition,cylinders,fuel,...,transmission,VIN,drive,size,type,paint_color,image_url,desc,lat,long
0,https://grandrapids.craigslist.org/cto/d/hasti...,"grand rapids, MI",https://grandrapids.craigslist.org,1500,2006.0,cadillac,cts,good,6 cylinders,gas,...,automatic,NaN,rwd,mid-size,coupe,blue,https://images.craigslist.org/00K0K_a9CZoZg2U8...,"2006 CtS Leather, Runs and drives Good.236k mil",42.643,-85.2937

In [6]:
df.columns

Index(['url', 'city', 'city_url', 'price', 'year', 'manufacturer', 'make',
       'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'desc', 'lat', 'long'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525839 entries, 0 to 525838
Data columns (total 22 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   url           525839 non-null  object
 1   city          525839 non-null  object
 2   city_url      525839 non-null  object
 3   price         525839 non-null  int64
 4   year          524399 non-null  float64
 5   manufacturer  501260 non-null  object
 6   make          517201 non-null  object
 7   condition     279881 non-null  object
 8   cylinders     315439 non-null  object
 9   fuel          521544 non-null  object
 10  odometer      427248 non-null  float64
 11  title_status  523014 non-null  object
 12  transmission  521572 non-null  object
 13  VIN           305650 non-null  object
 14  drive         374475 non-null  object
 15  size          174519 non-null  object
 16  type          376906 non-null  object
 17  paint_color   354306 non-null  object
 18  image_url     525831 non-null  object
 19  desc          525815 non-null  object
 20  lat           513618 non-null  float64
 21  long          513618 non-null  float64
dtypes: float64(4), int64(1), object(17)
memory usage: 88.3+ MB

In [9]:
df['size'].unique()

array(['mid-size', nan, 'compact', 'full-size', 'sub-compact'],
      dtype=object)

In [10]:
df['cylinders'].unique()

array(['6 cylinders', nan, '4 cylinders', '8 cylinders', '5 cylinders',
       'other', '3 cylinders', '10 cylinders', '12 cylinders'],
      dtype=object)

In [12]:
df.type.unique()

array(['coupe', nan, 'sedan', 'wagon', 'hatchback', 'SUV', 'truck',
       'pickup', 'van', 'mini-van', 'other', 'convertible', 'bus',
       'offroad'], dtype=object)