In [1]:
# Classifiers

In [3]:
# Importing Libraries

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns

In [6]:
# Loading Data

In [28]:
df = sns.load_dataset('penguins').ffill()

In [29]:
df.shape

(344, 7)

In [30]:
df.head(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female

In [31]:
# Scalling Data

In [32]:
for col in df.select_dtypes(include=np.number).columns:
    df[col] = ( df[col] - df[col].min() )/(df[col].max()-df[col].min())

In [33]:
df.head(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,0.254545,0.666667,0.152542,0.291667,Male
1,Adelie,Torgersen,0.269091,0.511905,0.237288,0.305556,Female

In [34]:
# Encoding

In [35]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].map(lambda val: list(df[col].unique()).index(val))

In [36]:
df.head(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,0,0.254545,0.666667,0.152542,0.291667,0
1,0,0,0.269091,0.511905,0.237288,0.305556,1

In [37]:
# importing libraries

In [38]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [39]:
# Spliting Dataset

In [40]:
X = df.drop(columns=['species'])
y = df['species']
X_train ,X_test, y_train, y_test = train_test_split(X,y,random_state=42 , test_size=0.2)

In [41]:
# Importing Models

In [42]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [43]:
models = {
    'LogisticRegression' : LogisticRegression() , 
    'RandomForestClassifier' : RandomForestClassifier() ,
    'DecisionTreeClassifier' : DecisionTreeClassifier() , 
    'KNeighborsClassifier' : KNeighborsClassifier() , 
    'GaussianNB' : GaussianNB() ,
    'SupportVectorClassifier' : SVC()
}

In [45]:
for name,model in models.items():
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    print(name,accuracy_score(y_pred,y_test))

LogisticRegression 0.9855072463768116
RandomForestClassifier 0.9855072463768116
DecisionTreeClassifier 0.9710144927536232
KNeighborsClassifier 1.0
GaussianNB 0.855072463768116
SupportVectorClassifier 0.9855072463768116