#### CHI-SQUARE TEST

In [6]:
import pandas as pd
from scipy.stats import chi2_contingency

In [3]:
dataset = {
    "Gender":['Male','Male','Female','Female'],
    "Purchased":["Yes",'No',"Yes",'No'],
    "Count":[20,30,40,10]
}

In [7]:
df = pd.DataFrame(dataset)

In [8]:
df

   Gender Purchased  Count
0    Male       Yes     20
1    Male        No     30
2  Female       Yes     40
3  Female        No     10

In [9]:
contingency = pd.pivot_table(df,values="Count",
                            index="Gender",
                            columns="Purchased",
                            aggfunc="sum")

In [10]:
contingency

Purchased  No  Yes
Gender
Female     10   40
Male       30   20

In [11]:
chi2 , p , dof , expected = chi2_contingency(contingency)
print("Chi-Square Value :",chi2)
print("P Value :",p)
print("Degree of Freedom :",dof),
print("Expected Value :",expected)

Chi-Square Value : 15.041666666666668
P Value : 0.00010516355403363114
Degree of Freedom : 1
Expected Value : [[20. 30.]
 [20. 30.]]

In [12]:
alpha = 0.05

In [13]:
if p < alpha :
    print("Strong Relationship")
else:
    print("No Relationship")

Strong Relationship

In [14]:
# Null Hypothesis  (H0)        No Effect / No Relationship
# Alternative Hypothesis (H1)  Effect / Relationship

In [15]:
print("Chi2_Test Confidance : ",100-p)

Chi2_Test Confidance :  99.99989483644596