In [1]:
import pandas as pd
import requests as r
from bs4 import BeautifulSoup

In [2]:
url = "https://www.boxofficemojo.com/year/"

In [3]:
data = r.get(url)

In [4]:
data

In [5]:
data.content[:500]

b'<!doctype html><html class="a-no-js" data-19ax5a9jf="dingo"><head><script>var aPageStart = (new Date()).getTime();</script><meta charset="utf-8"/>\n<script type=\'text/javascript\'>var ue_t0=ue_t0||+new Date();</script>\n<script type=\'text/javascript\'>\nwindow.ue_ihb = (window.ue_ihb || window.ueinit || 0) + 1;\nif (window.ue_ihb === 1) {\n\nvar ue_csm = window,\n    ue_hob = +new Date();\n(function(d){var e=d.ue=d.ue||{},f=Date.now||function(){return+new Date};e.d=function(b){return f()-(b?0:d.ue_t0)};e.'

In [6]:
data = BeautifulSoup(data.content,'html.parser')

In [27]:
year = []
totalGross = []
ly = []
release = []
average = []
topmovie = []
link = []

In [28]:
for x in data.find_all('tr')[1:]:
    year.append(x.find_all('td')[0].text)
    totalGross.append(x.find_all('td')[1].text)
    ly.append(x.find_all('td')[2].text)
    release.append(x.find_all('td')[3].text)
    average.append(x.find_all('td')[4].text)
    topmovie.append(x.find_all('td')[5].text.strip())
    link.append('https://boxofficemojo.com/year/'+x.find_all('td')[0].text)

In [30]:
len(year),len(totalGross),len(ly),len(release),len(average),len(topmovie),len(link)

(49, 49, 49, 49, 49, 49, 49)

In [31]:
dataset = {
    'Year':year,
    'Total_Gross':totalGross,
    'LY':ly,
    'Total_Release':release,
    'Average_Gross':average,
    'Year_Top_Movie':topmovie,
    'Link':link
}

In [32]:
df = pd.DataFrame(dataset)

In [33]:
df.shape

(49, 7)

In [35]:
df[:5]

,Year,Total_Gross,LY,Total_Release,Average_Gross,Year_Top_Movie,Link
0,2025,"$7,071,302,631",-,593,"$11,924,625",A Minecraft Movie,https://boxofficemojo.com/year/2025
1,2024,"$8,571,249,443",-3.8%,677,"$12,660,634",Inside Out 2,https://boxofficemojo.com/year/2024
2,2023,"$8,907,716,802",+20.9%,592,"$15,046,818",Barbie,https://boxofficemojo.com/year/2023
3,2022,"$7,369,914,732",+64.4%,502,"$14,681,105",Top Gun: Maverick,https://boxofficemojo.com/year/2022
4,2021,"$4,483,016,589",+112.1%,442,"$10,142,571",Spider-Man: No Way Home,https://boxofficemojo.com/year/2021

In [68]:
movie = []
gross = []
theater = []
release_date = []
distributor = []

In [69]:
for url in df['Link']:
    data = r.get(url)
    data = BeautifulSoup(data.content,'html.parser')
    for row in data.find_all('tr')[1:]:
        movie.append(row.find_all('td')[1].text.strip())
        gross.append(row.find_all('td')[5].text.strip())
        theater.append(row.find_all('td')[6].text.strip())
        release_date.append(row.find_all('td')[8].text.strip()+"  "+url[-4:])
        distributor.append(row.find_all('td')[9].text.strip())

In [70]:
dataset = {
    'Movie_Name':movie,
    'Gross_Amount':gross,
    'Total_Theaters':theater,
    'Release_Date':release_date,
    'Distributor':distributor
}

In [71]:
df = pd.DataFrame(dataset)

In [72]:
df.shape

(8827, 5)

In [73]:
df

,Movie_Name,Gross_Amount,Total_Theaters,Release_Date,Distributor
0,A Minecraft Movie,"$423,949,195","4,289",Apr 4 2025,Warner Bros.
1,Lilo & Stitch,"$423,778,855","4,410",May 23 2025,Walt Disney Studios Motion Pictures
2,Superman,"$354,184,465","4,275",Jul 11 2025,Warner Bros.
3,Jurassic World: Rebirth,"$339,640,400","4,324",Jul 2 2025,Universal Pictures
4,Sinners,"$279,653,537","3,518",Apr 18 2025,Warner Bros.
...,...,...,...,...,...
8822,Exorcist II: The Heretic,"$30,749,142",703,Jun 17 1977,Warner Bros.
8823,The Turning Point,"$25,815,410",5,Nov 14 1977,Twentieth Century Fox
8824,Looking for Mr. Goodbar,"$22,512,655",110,Oct 19 1977,Paramount Pictures
8825,Saturday Night Fever,"$18,234,852",726,Dec 16 1977,Paramount Pictures
8826,Close Encounters of the Third Kind,"$16,172,445",650,Nov 16 1977,Columbia Pictures

## Project End!