In [2]:
# !pip install mlxtend

In [3]:
import pandas as pd

data = [
['Milk' , 'Butter'],
['Milk' , 'Bread' , 'Butter'],
['Milk' , 'Butter' , 'Jam'],
['Milk' , 'Jam'],
['Milk' , 'Bread' , 'Butter' , 'Jam']
]

In [6]:
# One-Hot Encoding
from mlxtend.preprocessing import TransactionEncoder

In [5]:
te = TransactionEncoder()

In [7]:
te_array = te.fit(data).transform(data)

In [8]:
te_array

array([[False,  True, False,  True],
       [ True,  True, False,  True],
       [False,  True,  True,  True],
       [False, False,  True,  True],
       [ True,  True,  True,  True]])

In [9]:
df = pd.DataFrame(te_array , columns=te.columns_)

In [10]:
df

   Bread  Butter    Jam  Milk
0  False    True  False  True
1   True    True  False  True
2  False    True   True  True
3  False   False   True  True
4   True    True   True  True

In [13]:
from mlxtend.frequent_patterns import apriori

In [15]:
frequent_itemsets = apriori( df , use_colnames=True , min_support = 0.4)

In [16]:
frequent_itemsets

    support               itemsets
0       0.4                (Bread)
1       0.8               (Butter)
2       0.6                  (Jam)
3       1.0                 (Milk)
4       0.4        (Bread, Butter)
5       0.4          (Bread, Milk)
6       0.4          (Jam, Butter)
7       0.8         (Milk, Butter)
8       0.6            (Jam, Milk)
9       0.4  (Bread, Butter, Milk)
10      0.4    (Jam, Milk, Butter)

In [17]:
from mlxtend.frequent_patterns import association_rules

In [22]:
rules = association_rules( frequent_itemsets , metric='lift' , min_threshold = 1 )

C:\Users\Croma Campus\AppData\Roaming\Python\Python313\site-packages\mlxtend\frequent_patterns\association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)

In [23]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Bread),(Butter),0.4,0.8,0.4,1.0,1.25,1.0,0.08,inf,0.333333,0.5,1.000000,0.75
1,(Butter),(Bread),0.8,0.4,0.4,0.5,1.25,1.0,0.08,1.2,1.000000,0.5,0.166667,0.75
2,(Bread),(Milk),0.4,1.0,0.4,1.0,1.00,1.0,0.00,inf,0.000000,0.4,0.000000,0.70
3,(Milk),(Bread),1.0,0.4,0.4,0.4,1.00,1.0,0.00,1.0,0.000000,0.4,0.000000,0.70
4,(Milk),(Butter),1.0,0.8,0.8,0.8,1.00,1.0,0.00,1.0,0.000000,0.8,0.000000,0.90
5,(Butter),(Milk),0.8,1.0,0.8,1.0,1.00,1.0,0.00,inf,0.000000,0.8,0.000000,0.90
6,(Jam),(Milk),0.6,1.0,0.6,1.0,1.00,1.0,0.00,inf,0.000000,0.6,0.000000,0.80
7,(Milk),(Jam),1.0,0.6,0.6,0.6,1.00,1.0,0.00,1.0,0.000000,0.6,0.000000,0.80
8,"(Bread, Butter)",(Milk),0.4,1.0,0.4,1.0,1.00,1.0,0.00,inf,0.000000,0.4,0.000000,0.70
9,"(Bread, Milk)",(Butter),0.4,0.8,0.4,1.0,1.25,1.0,0.08,inf,0.333333,0.5,1.000000,0.75
10,"(Milk, Butter)",(Bread),0.8,0.4,0.4,0.5,1.25,1.0,0.08,1.2,1.000000,0.5,0.166667,0.75
11,(Bread),"(Milk, Butter)",0.4,0.8,0.4,1.0,1.25,1.0,0.08,inf,0.333333,0.5,1.000000,0.75
12,(Butter),"(Bread, Milk)",0.8,0.4,0.4,0.5,1.25,1.0,0.08,1.2,1.000000,0.5,0.166667,0.75
13,(Milk),"(Bread, Butter)",1.0,0.4,0.4,0.4,1.00,1.0,0.00,1.0,0.000000,0.4,0.000000,0.70
14,"(Jam, Butter)",(Milk),0.4,1.0,0.4,1.0,1.00,1.0,0.00,inf,0.000000,0.4,0.000000,0.70
15,(Milk),"(Jam, Butter)",1.0,0.4,0.4,0.4,1.00,1.0,0.00,1.0,0.000000,0.4,0.000000,0.70