In [1]:
## ASSOCIATION RULES

Milk , Butter <br>
Milk , Bread , Butter <br> 
Milk , Butter , Jam <br>
Milk , Jam  <br>
Milk , Bread , Butter , Jam <br>

{Milk,Bread} Antecedents -> Jam (Consequent)

Milk , Butter , Bread , Jam <br>
1      1        0       0   <br>
1      1        1       0   <br>
1      1        0       1   <br>
1      0        0       1   <br>
1      1        1       1   <br>

In [3]:
data = [
['Milk' , 'Butter'],
['Milk' , 'Bread' , 'Butter'],
['Milk' , 'Butter' , 'Jam'],
['Milk' , 'Jam'],
['Milk' , 'Bread' , 'Butter' , 'Jam']
]

In [4]:
data

[['Milk', 'Butter'],
 ['Milk', 'Bread', 'Butter'],
 ['Milk', 'Butter', 'Jam'],
 ['Milk', 'Jam'],
 ['Milk', 'Bread', 'Butter', 'Jam']]

In [6]:
products = []
for sale in data:
    for product in sale:
        if product not in products:
            products.append(product)
products

['Milk', 'Butter', 'Bread', 'Jam']

In [10]:
df = {}
for pro in products:
    li = []
    for sale in data:
        if pro in sale:
            li.append(1)
        else:
            li.append(0)
    df.update({pro:li})

In [11]:
df

{'Milk': [1, 1, 1, 1, 1],
 'Butter': [1, 1, 1, 0, 1],
 'Bread': [0, 1, 0, 0, 1],
 'Jam': [0, 0, 1, 1, 1]}

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(df)

In [14]:
df

   Milk  Butter  Bread  Jam
0     1       1      0    0
1     1       1      1    0
2     1       1      0    1
3     1       0      0    1
4     1       1      1    1

In [15]:
data

[['Milk', 'Butter'],
 ['Milk', 'Bread', 'Butter'],
 ['Milk', 'Butter', 'Jam'],
 ['Milk', 'Jam'],
 ['Milk', 'Bread', 'Butter', 'Jam']]