In [50]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_excel(r"C:\Users\Croma Campus\Downloads\Financial_Sample.xlsx").bfill()

In [52]:
df.shape

(700, 16)

In [53]:
df.isnull().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             0
Manufacturing Price    0
Sale Price             0
Gross Sales            0
Discounts              0
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64

In [54]:
df.head(2)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,Low,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,Low,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014

In [55]:
df.Segment.unique()

array(['Government', 'Midmarket', 'Channel Partners', 'Enterprise',
       'Small Business'], dtype=object)

In [56]:
df['Country'].unique()

array(['Canada', 'Germany', 'France', 'Mexico',
       'United States of America'], dtype=object)

In [57]:
def country(val):
    if val=='United States of America':
        return 'USA'
    else:
        return val[0:3].upper()

In [58]:
country('United States of America')

'USA'

In [59]:
country('Germany')

'GER'

In [60]:
df.head(2)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,Low,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,Low,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014

In [61]:
df.Country = df.Country.map(country)

In [62]:
df.head(2)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,CAN,Carretera,Low,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,GER,Carretera,Low,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014

In [63]:
df.Country.unique()

array(['CAN', 'GER', 'FRA', 'MEX', 'USA'], dtype=object)

In [64]:
df.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [65]:
df['GrossManuAmt'] = df['Units Sold']*df['Manufacturing Price']

In [66]:
df.head(3)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,GrossManuAmt
0,Government,CAN,Carretera,Low,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014,4855.5
1,Government,GER,Carretera,Low,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014,3963.0
2,Midmarket,FRA,Carretera,Low,2178.0,3,15.0,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014,6534.0

In [67]:
df['Month Name'] = df['Month Name'].map(lambda val:val[0:3])

In [68]:
df.head(3)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,GrossManuAmt
0,Government,CAN,Carretera,Low,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,Jan,2014,4855.5
1,Government,GER,Carretera,Low,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,Jan,2014,3963.0
2,Midmarket,FRA,Carretera,Low,2178.0,3,15.0,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,Jun,2014,6534.0

In [69]:
for col in df.select_dtypes(include='float').drop(columns=['Units Sold']).columns:
    df[col] = df[col].map( lambda val:round(val/90.56, 2) )

In [70]:
df.head(4)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,GrossManuAmt
0,Government,CAN,Carretera,Low,1618.5,3,0.22,357.44,0.0,357.44,178.72,178.72,2014-01-01,1,Jan,2014,53.62
1,Government,GER,Carretera,Low,1321.0,3,0.22,291.74,0.0,291.74,145.87,145.87,2014-01-01,1,Jan,2014,43.76
2,Midmarket,FRA,Carretera,Low,2178.0,3,0.17,360.76,0.0,360.76,240.50,120.25,2014-06-01,6,Jun,2014,72.15
3,Midmarket,GER,Carretera,Low,888.0,3,0.17,147.08,0.0,147.08,98.06,49.03,2014-06-01,6,Jun,2014,29.42

In [75]:
for col in df.select_dtypes(include='float').drop(columns=['Units Sold']).columns:
    print(col)

Sale Price
Gross Sales
Discounts
 Sales
COGS
Profit
GrossManuAmt

In [76]:
df.to_csv('new.csv')