In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\Croma Campus\Downloads\Financial_Sample.xlsx")

In [3]:
df.shape

(700, 16)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              692 non-null    object
 1   Country              689 non-null    object
 2   Product              692 non-null    object
 3   Discount Band        638 non-null    object
 4   Units Sold           695 non-null    float64
 5   Manufacturing Price  700 non-null    int64
 6   Sale Price           693 non-null    float64
 7   Gross Sales          695 non-null    float64
 8   Discounts            695 non-null    float64
 9    Sales               700 non-null    float64
 10  COGS                 700 non-null    float64
 11  Profit               700 non-null    float64
 12  Date                 700 non-null    datetime64[ns]
 13  Month Number         700 non-null    int64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 87.6+ KB

In [8]:
df.head(3)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15.0,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014

In [9]:
df.head(3).isnull()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
df.isnull().sum()

Segment                 8
Country                11
Product                 8
Discount Band          62
Units Sold              5
Manufacturing Price     0
Sale Price              7
Gross Sales             5
Discounts               5
 Sales                  0
COGS                    0
Profit                  0
Date                    0
Month Number            0
Month Name              0
Year                    0
dtype: int64

In [12]:
df['Segment'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
695    False
696    False
697    False
698    False
699    False
Name: Segment, Length: 700, dtype: bool

In [13]:
df['Segment'].isnull().sum()

np.int64(8)

In [14]:
# find only those columns who has missing values

In [15]:
df.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [26]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        print(col)

Segment
Country
Product
Discount Band
Units Sold
Sale Price
Gross Sales
Discounts

In [30]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        print(col ,'\t', df[col].dtype)

Segment 	 object
Country 	 object
Product 	 object
Discount Band 	 object
Units Sold 	 float64
Sale Price 	 float64
Gross Sales 	 float64
Discounts 	 float64

In [31]:
# When u have missing values in object columns => fill by dummy value or mode value

In [34]:
df['Discount Band'].isnull().sum()

np.int64(62)

In [35]:
df['Discount Band']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
695    High
696    High
697    High
698    High
699    High
Name: Discount Band, Length: 700, dtype: object

In [37]:
# Fill NaN with Dummy Value
df['Discount Band'].fillna(value='Not Found')

0      Not Found
1      Not Found
2      Not Found
3      Not Found
4      Not Found
         ...
695         High
696         High
697         High
698         High
699         High
Name: Discount Band, Length: 700, dtype: object

In [38]:
df['Discount Band'].mode()

0    High
Name: Discount Band, dtype: object

In [39]:
df['Discount Band'].mode()[0]

'High'

In [41]:
df['Discount Band']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
695    High
696    High
697    High
698    High
699    High
Name: Discount Band, Length: 700, dtype: object

In [42]:
df['Discount Band'].fillna(value=df['Discount Band'].mode()[0])

0      High
1      High
2      High
3      High
4      High
       ...
695    High
696    High
697    High
698    High
699    High
Name: Discount Band, Length: 700, dtype: object

In [43]:
df.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [45]:
df.select_dtypes(include='object').head(2)

      Segment  Country    Product Discount Band Month Name
0  Government   Canada  Carretera           NaN    January
1  Government  Germany  Carretera           NaN    January

In [46]:
df.select_dtypes(include='object').columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Month Name'], dtype='object')

In [49]:
for col in df.select_dtypes(include='object').columns:
    print(col)

Segment
Country
Product
Discount Band
Month Name

In [51]:
# Filling all missing values of object columns with MODE 
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].fillna(value= df[col].mode()[0] )

In [52]:
df.isnull().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             5
Manufacturing Price    0
Sale Price             7
Gross Sales            5
Discounts              5
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64

In [53]:
# fill missing data in float column =>  by average value

In [54]:
df.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [56]:
df.select_dtypes(include='float').columns

Index(['Units Sold', 'Sale Price', 'Gross Sales', 'Discounts', ' Sales',
       'COGS', 'Profit'],
      dtype='object')

In [57]:
df['Units Sold'].mean()

np.float64(1607.8805755395683)

In [58]:
round(df['Units Sold'].mean())

1608

In [59]:
round(df['Units Sold'].mean() , 2)

np.float64(1607.88)

In [62]:
for col in df.select_dtypes(include='float').columns:
    print(col)

Units Sold
Sale Price
Gross Sales
Discounts
 Sales
COGS
Profit

In [64]:
# fill missing values by average in float columns
for col in df.select_dtypes(include='float').columns:
    df[col] = df[col].fillna(value=  round(df[col].mean(),2) )

In [65]:
df.isnull().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             0
Manufacturing Price    0
Sale Price             0
Gross Sales            0
Discounts              0
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64