In [1]:
import pandas as pd

In [18]:
df = pd.read_csv(r"C:\Users\Croma Campus\Downloads\final_dataset.csv")

In [3]:
df.shape

(33600, 23)

In [4]:
df.head(2)

,id,Title,Movie Link,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,wins,nominations,oscars
0,tt0073195,Jaws,https://www.imdb.com/title/tt0073195,1975,2h 4m,PG,8.1,683K,7000000.0,477220580.0,...,"['Peter Benchley', 'Carl Gottlieb']","['Roy Scheider', 'Robert Shaw', 'Richard Dreyf...","['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],"[""Water Street, Edgartown, Martha's Vineyard, ...","['Zanuck/Brown Productions', 'Universal Pictur...",['English'],0,20,0
1,tt0073629,The Rocky Horror Picture Show,https://www.imdb.com/title/tt0073629,1975,1h 40m,R,7.4,173K,1200000.0,115798478.0,...,"[""Richard O'Brien"", 'Jim Sharman']","['Tim Curry', 'Susan Sarandon', 'Barry Bostwick']","['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']","['Oakley Court, Windsor Road, Oakley Green, Wi...","['Twentieth Century Fox', 'Michael White Produ...",['English'],0,4,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33600 entries, 0 to 33599
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     33600 non-null  object
 1   Title                  33600 non-null  object
 2   Movie Link             33600 non-null  object
 3   Year                   33600 non-null  int64
 4   Duration               33379 non-null  object
 5   MPA                    25624 non-null  object
 6   Rating                 33462 non-null  float64
 7   Votes                  33462 non-null  object
 8   budget                 11815 non-null  float64
 9   grossWorldWide         18222 non-null  float64
 10  gross_US_Canada        17571 non-null  float64
 11  opening_weekend_Gross  15523 non-null  float64
 12  directors              33241 non-null  object
 13  writers                32024 non-null  object
 14  stars                  33127 non-null  object
 15  genres                 33218 non-null  object
 16  countries_origin       33234 non-null  object
 17  filming_locations      26871 non-null  object
 18  production_companies   32222 non-null  object
 19  Languages              33126 non-null  object
 20  wins                   33600 non-null  int64
 21  nominations            33600 non-null  int64
 22  oscars                 33600 non-null  int64
dtypes: float64(5), int64(4), object(14)
memory usage: 5.9+ MB

In [6]:
df.isnull().sum()

id                           0
Title                        0
Movie Link                   0
Year                         0
Duration                   221
MPA                       7976
Rating                     138
Votes                      138
budget                   21785
grossWorldWide           15378
gross_US_Canada          16029
opening_weekend_Gross    18077
directors                  359
writers                   1576
stars                      473
genres                     382
countries_origin           366
filming_locations         6729
production_companies      1378
Languages                  474
wins                         0
nominations                  0
oscars                       0
dtype: int64

In [7]:
df.describe()

,Year,Rating,budget,grossWorldWide,gross_US_Canada,opening_weekend_Gross,wins,nominations,oscars
count,33600.000000,33462.000000,1.181500e+04,1.822200e+04,1.757100e+04,1.552300e+04,33600.0,33600.000000,33600.000000
mean,1992.393631,6.155158,8.454320e+07,3.814961e+07,1.808236e+07,5.110082e+06,0.0,4.850357,0.102619
std,18.957395,1.146070,2.866281e+09,1.210105e+08,4.853181e+07,1.488319e+07,0.0,17.719188,0.508687
min,1960.000000,1.100000,1.000000e+00,1.000000e+00,6.400000e+01,1.100000e+01,0.0,0.000000,0.000000
25%,1976.000000,5.500000,2.000000e+06,1.589938e+05,8.603650e+04,1.399650e+04,0.0,0.000000,0.000000
50%,1993.000000,6.300000,9.000000e+06,2.311544e+06,9.094110e+05,1.075360e+05,0.0,0.000000,0.000000
75%,2009.000000,7.000000,2.700000e+07,2.092931e+07,1.405137e+07,3.772558e+06,0.0,3.000000,0.000000
max,2024.000000,9.600000,3.000000e+11,2.923706e+09,9.366622e+08,3.571150e+08,0.0,433.000000,11.000000

In [8]:
df.head(1)

,id,Title,Movie Link,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,wins,nominations,oscars
0,tt0073195,Jaws,https://www.imdb.com/title/tt0073195,1975,2h 4m,PG,8.1,683K,7000000.0,477220580.0,...,"['Peter Benchley', 'Carl Gottlieb']","['Roy Scheider', 'Robert Shaw', 'Richard Dreyf...","['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],"[""Water Street, Edgartown, Martha's Vineyard, ...","['Zanuck/Brown Productions', 'Universal Pictur...",['English'],0,20,0

In [9]:
df.columns

Index(['id', 'Title', 'Movie Link', 'Year', 'Duration', 'MPA', 'Rating',
       'Votes', 'budget', 'grossWorldWide', 'gross_US_Canada',
       'opening_weekend_Gross', 'directors', 'writers', 'stars', 'genres',
       'countries_origin', 'filming_locations', 'production_companies',
       'Languages', 'wins', 'nominations', 'oscars'],
      dtype='object')

In [22]:
df = df[df.Duration.notna()]
# df = df.dropna(subset=["Duration"])

In [23]:
df.shape

(33379, 23)

In [24]:
df.Votes.isnull().sum()

np.int64(91)

In [25]:
df.Votes = df.Votes.fillna(value=df.Votes.mode()[0])

In [26]:
df.shape

(33379, 23)

In [27]:
df.Votes.isnull().sum()

np.int64(0)

In [28]:
df.head(2)

,id,Title,Movie Link,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,wins,nominations,oscars
0,tt0073195,Jaws,https://www.imdb.com/title/tt0073195,1975,2h 4m,PG,8.1,683K,7000000.0,477220580.0,...,"['Peter Benchley', 'Carl Gottlieb']","['Roy Scheider', 'Robert Shaw', 'Richard Dreyf...","['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],"[""Water Street, Edgartown, Martha's Vineyard, ...","['Zanuck/Brown Productions', 'Universal Pictur...",['English'],0,20,0
1,tt0073629,The Rocky Horror Picture Show,https://www.imdb.com/title/tt0073629,1975,1h 40m,R,7.4,173K,1200000.0,115798478.0,...,"[""Richard O'Brien"", 'Jim Sharman']","['Tim Curry', 'Susan Sarandon', 'Barry Bostwick']","['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']","['Oakley Court, Windsor Road, Oakley Green, Wi...","['Twentieth Century Fox', 'Michael White Produ...",['English'],0,4,0

In [29]:
df.Votes

0        683K
1        173K
2        1.1M
3        279K
4         15K
         ...
33595    1.1K
33596      12
33597    1.3K
33598     337
33599     737
Name: Votes, Length: 33379, dtype: object

In [34]:
df.Votes.unique()

array(['683K', '173K', '1.1M', ..., '901K', '557K', '977K'],
      shape=(1758,), dtype=object)

In [38]:
li = df.Votes.map(lambda x:x[-1])

In [39]:
s = set(li)

In [40]:
s

{'0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'K', 'M'}

In [76]:
def convertVotes(val):
    if val[-1]=='K':
        return int(float(val[0:len(val)-1])*1000)
    elif val[-1]=='M':
        return int(float(val[0:len(val)-1])*1000000)
    else:
        return int(val)

In [80]:
df.Votes = df.Votes.map(convertVotes)

In [81]:
df.head(3)

,id,Title,Movie Link,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,wins,nominations,oscars
0,tt0073195,Jaws,https://www.imdb.com/title/tt0073195,1975,2h 4m,PG,8.1,683000,7000000.0,477220580.0,...,"['Peter Benchley', 'Carl Gottlieb']","['Roy Scheider', 'Robert Shaw', 'Richard Dreyf...","['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],"[""Water Street, Edgartown, Martha's Vineyard, ...","['Zanuck/Brown Productions', 'Universal Pictur...",['English'],0,20,0
1,tt0073629,The Rocky Horror Picture Show,https://www.imdb.com/title/tt0073629,1975,1h 40m,R,7.4,173000,1200000.0,115798478.0,...,"[""Richard O'Brien"", 'Jim Sharman']","['Tim Curry', 'Susan Sarandon', 'Barry Bostwick']","['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']","['Oakley Court, Windsor Road, Oakley Green, Wi...","['Twentieth Century Fox', 'Michael White Produ...",['English'],0,4,0
2,tt0073486,One Flew Over the Cuckoo's Nest,https://www.imdb.com/title/tt0073486,1975,2h 13m,R,8.7,1100000,3000000.0,109115366.0,...,"['Lawrence Hauben', 'Bo Goldman', 'Ken Kesey']","['Jack Nicholson', 'Louise Fletcher', 'Michael...","['Medical Drama', 'Psychological Drama', 'Drama']",['United States'],['Oregon State Mental Hospital - 2600 Center S...,"['Fantasy Films', 'N.V. Zvaluw']",['English'],0,15,0

In [82]:
df.Votes

0         683000
1         173000
2        1100000
3         279000
4          15000
          ...
33595       1100
33596         12
33597       1300
33598        337
33599        737
Name: Votes, Length: 33379, dtype: int64

In [83]:
df.Duration

0         2h 4m
1        1h 40m
2        2h 13m
3         2h 5m
4        1h 50m
          ...
33595     2h 7m
33596    1h 25m
33597    1h 31m
33598    1h 30m
33599    1h 18m
Name: Duration, Length: 33379, dtype: object

In [85]:
df.Duration.unique()

array(['2h 4m', '1h 40m', '2h 13m', '2h 5m', '1h 50m', '1h 53m', '2h 16m',
       '1h 51m', '1h 57m', '1h 58m', '1h 47m', '1h 25m', '1h 37m',
       '2h 1m', '2h 9m', '1h 59m', '1h 44m', '2h 40m', '1h 39m', '1h 31m',
       '1h 46m', '2h 6m', '1h 24m', '1h 55m', '1h 35m', '1h 49m',
       '1h 56m', '1h 48m', '1h 36m', '3h 5m', '1h 20m', '1h 29m',
       '1h 38m', '1h 28m', '2h 7m', '3h 22m', '1h 30m', '1h 27m',
       '1h 33m', '2h 22m', '1h 45m', '2h 42m', '2h 24m', '2h 20m',
       '1h 23m', '2h 54m', '1h 52m', '1h 42m', '2h', '2h 2m', '1h 34m',
       '1h 32m', '1h 15m', '2h 12m', '1h 43m', '2h 32m', '1h 41m',
       '1h 14m', '1h 26m', '2h 26m', '2h 15m', '2h 30m', '2h 10m',
       '1h 22m', '1h 16m', '1h 21m', '1h 13m', '53m', '1h 19m', '3h 50m',
       '2h 38m', '2h 25m', '2h 43m', '2h 50m', '2h 36m', '1h 1m',
       '1h 18m', '2h 39m', '2h 19m', '1h 7m', '2h 11m', '1h 54m',
       '1h 17m', '1h 9m', '2h 3m', '2h 33m', '2h 57m', '1h 3m', '2h 35m',
       '2h 23m', '1h 12m', '2h 18m', '2h 55m', '2h 8m', '2h 45m', '4h',
       '2h 17m', '1h 10m', '3h 4m', '1h 11m', '1h 6m', '1h 8m', '2h 49m',
       '2h 41m', '7h 22m', '1h 5m', '1h 2m', '2h 29m', '56m', '3h',
       '2h 46m', '3h 53m', '2h 48m', '3h 2m', '2h 21m', '3h 30m',
       '2h 58m', '3h 9m', '2h 14m', '2h 56m', '59m', '2h 53m', '1h',
       '48m', '2h 52m', '2h 28m', '55m', '50m', '2h 44m', '2h 34m', '47m',
       '2h 27m', '2h 51m', '3h 11m', '3h 8m', '3h 3m', '3h 40m', '3h 14m',
       '4h 15m', '2h 31m', '57m', '45m', '52m', '2h 37m', '2h 47m',
       '3h 58m', '3h 17m', '4h 11m', '3h 52m', '4h 12m', '3h 36m',
       '1h 4m', '3h 13m', '3h 1m', '3h 18m', '2h 59m', '3h 49m', '3h 7m',
       '49m', '51m', '4h 30m', '3h 12m', '3h 6m', '3h 10m', '54m', '46m',
       'PG-13', '3h 39m', '3h 33m', '3h 15m', '58m', '3h 21m', '3h 35m',
       '4h 47m', '3h 57m', '43m', '3h 34m', '5h 35m', '3h 19m', '5h 10m',
       '3h 55m', '4h 20m', '5h 20m', '25h', '5h 57m', '87h', '40m',
       '3h 47m', '3h 25m', '3h 27m', '3h 16m', '3h 20m', '3h 41m',
       '3h 44m', '48h', '5h 19m', '4h 6m', '5h 17m', '4h 4m', '4h 10m',
       '3h 26m', '3h 24m', 'PG', '5h 16m', '5h 23m', '4h 48m', '3h 37m',
       '4h 2m', '44m', '4h 44m', '9h 26m', '3h 59m', '8h 5m', '5h 21m',
       '6h 33m', '3h 54m', '4h 7m', '6h 38m', '6h 14m', 'TV-G', '3h 28m',
       '4h 14m', '4h 18m', 'X', '5h 25m', 'TV-14', '5h 45m', '7h 19m',
       '12h 56m', '3h 23m'], dtype=object)

In [86]:
# Unique 1h 23m , 34m , 2h , error

In [128]:
def convertDuration(val):
    li = val.split()
    if len(li)==2:
        return int(li[0][0:len(li[0])-1])*60+int(li[1][0:len(li[1])-1])
    elif val[-1]=='h':
        return int(val[0:len(val)-1])*60
    elif val[-1]=='m':
        return int(val[0:len(val)-1])
    else:
        return convertDuration(df.Duration.mode()[0])

In [131]:
df.Duration = df.Duration.map(convertDuration)

In [132]:
df.Duration

0        124
1        100
2        133
3        125
4        110
        ...
33595    127
33596     85
33597     91
33598     90
33599     78
Name: Duration, Length: 33379, dtype: int64

In [133]:
df.Votes.mean()

np.float64(30230.042242128286)

In [134]:
df.Duration.mean()

np.float64(103.12624704155307)