DATASET <br>
1- Data Collection  <br>
2- Data Cleaning    <br>
    - null values<br>
    - blank rows / column<br>
    - duplicate value<br>
    - remove , replace , repair etc<br>
3- Data Transformation<br>
4- Column Trnasformation (Feature Engineering)<br>
5- EDA (Exploratory Data Analysis) + Statistics<br>
6- Pivot tables + graphs<br>

In [1]:
import pandas as pd

In [58]:
df = pd.read_excel("c:/users/Croma Campus/Downloads/Financial_Sample.xlsx")

In [3]:
df.shape

(700, 16)

In [4]:
df.head(3)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15.0,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014

In [6]:
# Checking null values
df.isnull().sum()

Segment                 8
Country                11
Product                 8
Discount Band          62
Units Sold              5
Manufacturing Price     0
Sale Price              7
Gross Sales             5
Discounts               5
 Sales                  0
COGS                    0
Profit                  0
Date                    0
Month Number            0
Month Name              0
Year                    0
dtype: int64

In [7]:
df.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [14]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        print(col ,"  :   ", df[col].dtype)

Segment   :    object
Country   :    object
Product   :    object
Discount Band   :    object
Units Sold   :    float64
Sale Price   :    float64
Gross Sales   :    float64
Discounts   :    float64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              692 non-null    object
 1   Country              689 non-null    object
 2   Product              692 non-null    object
 3   Discount Band        638 non-null    object
 4   Units Sold           695 non-null    float64
 5   Manufacturing Price  700 non-null    int64
 6   Sale Price           693 non-null    float64
 7   Gross Sales          695 non-null    float64
 8   Discounts            695 non-null    float64
 9    Sales               700 non-null    float64
 10  COGS                 700 non-null    float64
 11  Profit               700 non-null    float64
 12  Date                 700 non-null    datetime64[ns]
 13  Month Number         700 non-null    int64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 87.6+ KB

In [22]:
df.select_dtypes(include="object").columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Month Name'], dtype='object')

In [23]:
df.select_dtypes(include="float64").columns

Index(['Units Sold', 'Sale Price', 'Gross Sales', 'Discounts', ' Sales',
       'COGS', 'Profit'],
      dtype='object')

In [26]:
df['Segment'].unique()

array(['Government', 'Midmarket', 'Channel Partners', 'Enterprise',
       'Small Business', nan], dtype=object)

In [24]:
# Pivot table / Summarize table

In [27]:
df.groupby('Segment').agg({'Profit':'sum'})

                        Profit
Segment
Channel Partners  1.290808e+06
Enterprise       -6.145456e+05
Government        1.121272e+07
Midmarket         6.601031e+05
Small Business    4.143168e+06

In [29]:
pbs = df.groupby('Segment').agg({'Profit':'sum'}).reset_index()

In [30]:
pbs

            Segment        Profit
0  Channel Partners  1.290808e+06
1        Enterprise -6.145456e+05
2        Government  1.121272e+07
3         Midmarket  6.601031e+05
4    Small Business  4.143168e+06

In [36]:
df['Segment'].value_counts()

Segment
Government          294
Midmarket           100
Enterprise          100
Small Business      100
Channel Partners     98
Name: count, dtype: int64

In [ ]:
df['Segment'].fillna(value='Unknown Segment')

In [40]:
# Most Repeating Value in Segment Column
df['Segment'].mode()[0]

'Government'

In [45]:
# Average Value of Units Sold/Quantity
df['Units Sold'].mean()

np.float64(1607.8805755395683)

In [46]:
# Standard Diviation
df['Units Sold'].std()

np.float64(867.307496839844)

In [47]:
# Object fill all missing value using MODE
# Numerical fill all missing value using MEAN

In [51]:
# Filling missing value in Categorical/object/string
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].fillna(value=df[col].mode()[0]) 
    print(col," filled by the mean =>",df[col].mode()[0])

Segment  filled by the mean => Government
Country  filled by the mean => France
Product  filled by the mean => Paseo
Discount Band  filled by the mean => High
Month Name  filled by the mean => October

In [56]:
# Filling missing value in Numerical/float64
for col in df.select_dtypes(include="float64").columns:
    df[col]=df[col].fillna(value=df[col].mean())
    print(col,"\t filled by mean/average value\t",round(df[col].mean(),2))

Units Sold 	 filled by mean/average value	 1607.88
Sale Price 	 filled by mean/average value	 117.91
Gross Sales 	 filled by mean/average value	 183967.04
Discounts 	 filled by mean/average value	 13077.16
 Sales 	 filled by mean/average value	 169609.07
COGS 	 filled by mean/average value	 145475.21
Profit 	 filled by mean/average value	 24133.86

In [57]:
df.isnull().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             0
Manufacturing Price    0
Sale Price             0
Gross Sales            0
Discounts              0
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64

In [59]:
df.isnull().sum()

Segment                 8
Country                11
Product                 8
Discount Band          62
Units Sold              5
Manufacturing Price     0
Sale Price              7
Gross Sales             5
Discounts               5
 Sales                  0
COGS                    0
Profit                  0
Date                    0
Month Number            0
Month Name              0
Year                    0
dtype: int64

In [60]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        print(col,df[col].dtype)

Segment object
Country object
Product object
Discount Band object
Units Sold float64
Sale Price float64
Gross Sales float64
Discounts float64

In [61]:
# Filling missing value in Categorical/object/string
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].fillna(value=df[col].mode()[0]) 
    print(col," filled by the mean =>",df[col].mode()[0])

Segment  filled by the mean => Government
Country  filled by the mean => France
Product  filled by the mean => Paseo
Discount Band  filled by the mean => High
Month Name  filled by the mean => October

In [68]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        print(col,df[col].dtype,df[col].isnull().sum())

Units Sold float64 5
Sale Price float64 7
Gross Sales float64 5
Discounts float64 5

In [66]:
import numpy as np

In [67]:
# Repair the dataset
df.select_dtypes(include=np.number).head(3)

,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Month Number,Year
0,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,1,2014
1,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,1,2014
2,2178.0,3,15.0,32670.0,0.0,32670.0,21780.0,10890.0,6,2014

In [70]:
df['Units Sold'].mean()

np.float64(1607.8805755395683)

In [72]:
df['new_Units'] = df['Gross Sales']/df['Sale Price']

In [73]:
df.select_dtypes(include=np.number).head(3)

,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Month Number,Year,new_Units
0,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,1,2014,1618.5
1,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,1,2014,1321.0
2,2178.0,3,15.0,32670.0,0.0,32670.0,21780.0,10890.0,6,2014,2178.0

In [74]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        print(col,df[col].dtype,df[col].isnull().sum())

Units Sold float64 5
Sale Price float64 7
Gross Sales float64 5
Discounts float64 5
new_Units float64 12

In [110]:
# flinning missing value in Units Sold from columns new_Units
for i in range(len(df['Units Sold'])):
    if pd.isna(df['Units Sold'][i]):
        df['Units Sold'][i] = df['new_Units'][i]

C:\Users\Croma Campus\AppData\Local\Temp\ipykernel_4348\1403460150.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Units Sold'][i] = df['new_Units'][i]
C:\Users\Croma Campus\AppData\Local\Temp\ipykernel_4348\1403460150.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Units Sold'][i] = df['new_Units'][i]
C:\Users\Croma Campus\AppData\Local\Temp\ipykernel_4348\1403460150.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Units Sold'][i] = df['new_Units'][i]
C:\Users\Croma Campus\AppData\Local\Temp\ipykernel_4348\1403460150.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Units Sold'][i] = df['new_Units'][i]
C:\Users\Croma Campus\AppData\Local\Temp\ipykernel_4348\1403460150.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Units Sold'][i] = df['new_Units'][i]

In [111]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        print(col,df[col].dtype,df[col].isnull().sum())

Sale Price float64 7
Gross Sales float64 5
Discounts float64 5
new_Units float64 12

In [112]:
df= df.drop(columns=['new_Units'])

In [113]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        print(col,df[col].dtype,df[col].isnull().sum())

Sale Price float64 7
Gross Sales float64 5
Discounts float64 5