In [1]:
import pandas as pd
import numpy as np

In [3]:
# !pip install openpyxl

In [5]:
df = pd.read_excel("C:/Users/Croma Campus/Downloads/Financial_Sample.xlsx")

In [6]:
df.head(2)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              692 non-null    object
 1   Country              689 non-null    object
 2   Product              692 non-null    object
 3   Discount Band        638 non-null    object
 4   Units Sold           695 non-null    float64
 5   Manufacturing Price  700 non-null    int64
 6   Sale Price           693 non-null    float64
 7   Gross Sales          695 non-null    float64
 8   Discounts            695 non-null    float64
 9    Sales               700 non-null    float64
 10  COGS                 700 non-null    float64
 11  Profit               700 non-null    float64
 12  Date                 700 non-null    datetime64[ns]
 13  Month Number         700 non-null    int64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 87.6+ KB

In [8]:
df.isnull().sum()

Segment                 8
Country                11
Product                 8
Discount Band          62
Units Sold              5
Manufacturing Price     0
Sale Price              7
Gross Sales             5
Discounts               5
 Sales                  0
COGS                    0
Profit                  0
Date                    0
Month Number            0
Month Name              0
Year                    0
dtype: int64

In [13]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        print(col,'\t','Missing Value : ',df[col].isnull().sum(),'\t',df[col].dtype)

Segment 	 Missing Value :  8 	 object
Country 	 Missing Value :  11 	 object
Product 	 Missing Value :  8 	 object
Discount Band 	 Missing Value :  62 	 object
Units Sold 	 Missing Value :  5 	 float64
Sale Price 	 Missing Value :  7 	 float64
Gross Sales 	 Missing Value :  5 	 float64
Discounts 	 Missing Value :  5 	 float64

In [20]:
for col in df.select_dtypes(include='object').columns:
    if df[col].isnull().sum()>0:
        df[col] = df[col].fillna(value=df[col].mode()[0])

In [21]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        print(col,'\t','Missing Value : ',df[col].isnull().sum(),'\t',df[col].dtype)

Units Sold 	 Missing Value :  5 	 float64
Sale Price 	 Missing Value :  7 	 float64
Gross Sales 	 Missing Value :  5 	 float64
Discounts 	 Missing Value :  5 	 float64