In [ ]:
!pip install requests beautifulsoup4 pandas

In [6]:
import pandas as pd

sheet1 = pd.read_excel(r"C:\Users\Croma Campus\Downloads\Address_mismatch.xlsx" , sheet_name="Sheet1")
sheet2 = pd.read_excel(r"C:\Users\Croma Campus\Downloads\Address_mismatch.xlsx" , sheet_name="Sheet2")

In [16]:
# Normalize addresses
sheet1['Address_norm'] = sheet1['13179 5 BLACK MOUNTAIN RD SUITE 110'].str.lower().str.strip()
sheet2['Address_norm'] = sheet2['s1615 1/2 WLEWIS ST'].str.lower().str.strip()

# Find common addresses
common_addresses = sheet1[sheet1['Address_norm'].isin(sheet2['Address_norm'])]

print(common_addresses["Address_norm"])

0        1518 24 thomas ave
2       6161 6161 suite 162
10          562 1/2 61st st
44      2326 1/2 julian ave
77    3282 1/2 imperial ave
93       3748 1/2 curtis st
96         3854 1/2 36th st
Name: Address_norm, dtype: object

In [18]:
common_addresses.to_csv("common_addresses.csv")

In [19]:
import requests
from bs4 import BeautifulSoup
import time

HEADERS = {
    "User-Agent": "Mozilla/5.0 (compatible; AddressBot/1.0)"
}

def get_county_osm(address):
    search_url = "https://nominatim.openstreetmap.org/search"
    params = {
        "q": address,
        "format": "html"
    }

    response = requests.get(search_url, params=params, headers=HEADERS)
    soup = BeautifulSoup(response.text, "html.parser")

    result = soup.find("div", class_="result-address")

    if not result:
        return None

    address_text = result.text.lower()

    # Extract county keyword
    words = address_text.split(',')
    for word in words:
        if "county" in word:
            return word.strip().title()

    return "County Not Found"

In [22]:
sheet1['County'] = sheet1['Address_norm'].apply(get_county_osm)

# Be polite to servers
time.sleep(1)

sheet1[['Address_norm', 'County']]

                                Address_norm County
0                         1518 24 thomas ave   None
1   1640 206 camino del rio north suite #107   None
2                        6161 6161 suite 162   None
3     #1088 11160 rancho carmel dr suite 106   None
4                            2 1/2 s 28th st   None
..                                       ...    ...
93                        3748 1/2 curtis st   None
94                          3754 1/2 36th st   None
95                     3820 1/2 goldfinch st   None
96                          3854 1/2 36th st   None
97                       3878 1/2 riviera dr   None

[98 rows x 2 columns]

In [24]:
sheet1["County"].unique()

array([None], dtype=object)

In [25]:
sheet1.to_csv("sheet1_with_county.csv")