In [1]:
import pandas as pd
import numpy as np

In [3]:
# !pip install openpyxl

In [5]:
df = pd.read_excel("C:/Users/Croma Campus/Downloads/Financial_Sample.xlsx")

In [6]:
df.shape

(700, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              692 non-null    object
 1   Country              689 non-null    object
 2   Product              692 non-null    object
 3   Discount Band        638 non-null    object
 4   Units Sold           695 non-null    float64
 5   Manufacturing Price  700 non-null    int64
 6   Sale Price           693 non-null    float64
 7   Gross Sales          695 non-null    float64
 8   Discounts            695 non-null    float64
 9    Sales               700 non-null    float64
 10  COGS                 700 non-null    float64
 11  Profit               700 non-null    float64
 12  Date                 700 non-null    datetime64[ns]
 13  Month Number         700 non-null    int64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 87.6+ KB

In [9]:
df.head(2)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014

In [10]:
df.isnull().sum()

Segment                 8
Country                11
Product                 8
Discount Band          62
Units Sold              5
Manufacturing Price     0
Sale Price              7
Gross Sales             5
Discounts               5
 Sales                  0
COGS                    0
Profit                  0
Date                    0
Month Number            0
Month Name              0
Year                    0
dtype: int64

In [11]:
df.isnull().sum().sum()

np.int64(111)

In [12]:
df.shape

(700, 16)

In [13]:
newdf = df.dropna()

In [14]:
newdf.shape

(594, 16)

In [15]:
106/7

15.142857142857142

In [16]:
df.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [17]:
df.Segment.isnull().sum()

np.int64(8)

In [18]:
df['Country'].isnull().sum()

np.int64(11)

In [20]:
for col in df.columns:
    print(col)

Segment
Country
Product
Discount Band
Units Sold
Manufacturing Price
Sale Price
Gross Sales
Discounts
 Sales
COGS
Profit
Date
Month Number
Month Name
Year

In [21]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        print(col)

Segment
Country
Product
Discount Band
Units Sold
Sale Price
Gross Sales
Discounts

In [24]:
print(df['Segment'].dtype)

object

In [26]:
for col in df.columns:
    if df[col].isnull().sum()>0:
        print(col,'\t',df[col].dtype)

Segment 	 object
Country 	 object
Product 	 object
Discount Band 	 object
Units Sold 	 float64
Sale Price 	 float64
Gross Sales 	 float64
Discounts 	 float64

In [28]:
df['Segment'].mode()

0    Government
Name: Segment, dtype: object

In [29]:
df['Segment'].mode()[0]

'Government'

In [30]:
df['Segment'].value_counts()

Segment
Government          294
Midmarket           100
Enterprise          100
Small Business      100
Channel Partners     98
Name: count, dtype: int64

In [31]:
!python --version

Python 3.13.5

In [32]:
df['Profit']

0      16185.00
1      13210.00
2      10890.00
3       4440.00
4      12350.00
         ...
695    12375.00
696     2730.00
697     1299.60
698      686.85
699    13003.20
Name: Profit, Length: 700, dtype: float64

In [33]:
df['Profit'].mean()

np.float64(24133.860371428567)

In [34]:
df['Profit'].sum()

np.float64(16893702.259999998)

In [41]:
df.duplicated().sum()

np.int64(0)

In [44]:
df = df.drop_duplicates()   # Remove Duplicate Values

In [45]:
df.shape

(700, 16)